<!--== Sobre o Evento ===================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-check"></div>
            <div class="info">
                <h3>Qualidade</h3>
                <!--==>span>Teatro Copi, FIAP.</span==-->
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-lightbulb-o"></div>
            <div class="info">
                <h3>Inovação</h3>
                <!--==>span>Teatro Copi, FIAP.</span==-->
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Compromisso</h3>
                <!--==>span>Teatro Copi, FIAP.</span==-->
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-money"></div>
            <div class="info">
                <h3>Resultados</h3>
                <!--==>span>Teatro Copi, FIAP.</span==-->
            </div>
        </div>
    </div>
</section>

<!--== Programação ===================-->
<section id="schedule" class="row">

    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>BMob Softwares</h2>
        </div>
        <p>
            Nós acreditamos que a dinâmica do conhecimento é essencial para o crescimento profissional,
            por isso criamos o ASP.NET Brasil Conference. Onde palestrantes influentes garantem um evento com alto nível técnico que desde a primeira edição tem influenciado pessoas e marcado história na comunidade de desenvolvimento Microsoft.
        </p>
        <p>
            Nossa programação está sendo definida, mas os palestrantes já estão confirmados.
        </p>

    </div>

</section>

<!--== Palestrantes ===================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Serviços</h2>
            
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/.jpg" alt="" />
                </div>
                <div class="speaker-contacts">
                </div>
            </div>
            <h3>Aplicativos Móveis</h3>
            <!--==>p>Diretor de Tecnologia na empresa Minha Vida.</!p==-->
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/.jpg" alt="" />
                </div>
                <div class="speaker-contacts">
                </div>
            </div>
            <h3>Sistemas Webs</h3>
            <p></p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/.jpg" alt="" />
                </div>
                <div class="speaker-contacts">
                </div>
            </div>
            <h3>Consultoria</h3>
            <p></p>
        </div>
    </div>
</section>

<!--== Form de Contato =============-->
<section id="contact" class="row" ng-controller="contactController as cont">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Contato</h2>
            <h4>Entre em contato conosco, responderemos o mais breve possível.</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <form id="contact-form" method="post" class="form" ng-submit="cont.submit()">
            <div class="col-sm-6 col-xs-12">
                <input name="name" ng-model="cont.model.name" type="text" placeholder="Nome" required>
            </div>
            <div class="col-sm-6 col-xs-12">
                <input name="email" ng-model="cont.model.email" type="email" placeholder="E-mail" required>
            </div>

            <div class="col-sm-10 col-xs-12">
                <input name="message" ng-model="cont.model.message" type="text" placeholder="Mensagem" required>
            </div>
            <div class="col-sm-2 col-xs-12">
                <button ng-disabled="cont.isBusy" type="submit" class="btn btn-primary btn-lg">
                    {{cont.isBusy ? 'Enviando...' : 'Enviar'}}
                </button>
            </div>
            <p class="form-notification" ng-show="cont.success">Mensagem enviada!</p>
        </form>
    </div>
</section>